@media (max-width: 1100px) {
    .carousel {
        width: 700px;
        margin: 0 auto;
    }
    .tns-item {
        img {
            width: 100%;
        }
    }
}
@media (max-width: 970px) {
    .header {
        padding: 0 15px;
    }
    .promo {
        min-height: 580px;
        padding-bottom: 70px;
        &__wrapper {
            padding-right: 15px;
            margin-top: 60px;
        }
        &__icons {
            margin-top: 40px;
        }
    .button {
        &_main {
            margin-top: 45px;
        }
    }
    }
    .consultation {
        min-height: 640px;
        padding: 70px 15px;
        br {
            content: "";
            }
    }
    .carousel {
        width: 650px;
        padding: 70px 15px;
    }
    .catalog {
        padding-bottom: 70px;
        &__content {
            &_active {
                justify-content: center;
            }
        }
        &-item {
            margin: 0 25px 20px 25px;
        }
    }
    .reviews {
        padding: 0 15px 70px 15px;
    }
}
@media (max-width: 768px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {

        &__wrapper {
            align-items: center;
            padding-right: 0;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
            margin-top: 10px;
        }
    .button {
        width: 130px;
        font-size: 11px;
        &_main {
            width: 250px;
            height: 40px;
            font-size: 15px;
        }
    }
    }
    .advantage {
        min-height: 400px;
        padding: 50px 0;
        &__wrapper {
            margin-top: 50px;
            padding: 0 2%;
        }
        &__item {
            padding-right: 15px;
        }
        &__prn {
            padding-right: 0;
        }
        img {
            margin-bottom: 24px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            margin-top: 5px;
            font-size: 13px;
        }
    }
    .consultation {
        min-height: 560px;
        padding: 50px 15px;
        .title {
            font-size: 30px;
            text-align: center;
            br {
            content: "";
            }
        }
        &__descr {
            text-align: center;
            margin-top: 40px;
        }
        .feed-form {
            width: 100%;
            margin-top: 30px;
            padding: 0 20%;
        }
    }
    .carousel {
        width: 460px;
        padding: 50px 15px;
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 170px;
            font-size: 16px;
        }
        &__content {
            margin-top: 40px;
        }
    }
    .reviews {
        padding-bottom: 50px;
        &__text {
            font-size: 14px;
        }
        hr {
            margin: 30px 15px;
        }
    }
}
@media (max-width: 575px) {
    .header {
        justify-content: center;
        flex-direction: column;
        &__logo {
            width: auto;
            margin-bottom: 10px;
            img {
                width: 250px;
            }
        }
        &__official {
            margin-bottom: 10px;
            font-size: 14px;
            span {
                font-size: 18px;
            }
        }
        &__phone {
            font-size: 18px;
        }
    }
    .promo {
        padding: 15px 15px 40px 15px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            text-align: center;
            font-size: 38px;
        }
        &__subheader {
            text-align: center;
            line-height: 22px;
            margin-top: 0;
        }
        &__icons {
            margin-top: 30px;
            width: auto;
        }
    .button {
        font-size: 12px;
        width: 150px;
        &_main {
            width: 200px;
            font-size: 13px;
        }
    }
    }
    .advantage {
        padding: 40px 0;
        .title {
            line-height: 30px;
            font-size: 24px;
        }
        &__wrapper {
            margin-top: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin-top: 10px;
            padding-right: 0;
        }
        img {
            margin-bottom: 16px;
        }
    }
    .consultation {
        min-height: 400px;
        padding: 40px 0;
        .title {
            font-size: 24px;
        }
        &__descr {
            font-size: 16px;
            margin-top: 20px;
        }
        .feed-form {
            padding: 0 15px;
        }
    }
    .carousel {
        width: 230px;
        padding: 40px 15px;
        .prev, .next {
            left: -45px;
        }
        .next > img {
            width: 22px;
            height: 36px;
        }
        .prev > img {
            width: 22px;
            height: 36px;
        }
        .next {
            right: -45px;
            left: auto;
        }
    }
    .catalog {
        padding: 40px 15px;
        .title {
            font-size: 24px;
            line-height: 1;
        }
        &__tabs {
            margin-top: 30px;
            flex-wrap: wrap;
        }
        &__tab {
            margin: 3px 5px;
            height: 34px;
            width: 150px;
            font-size: 14px;
            line-height: 32px;
        }
        &__content {
            margin-top: 30px;
            img {
                height: 160px;
            }
        }
        &-item {
            &__descr {
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 12px;
                }
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 16px;
            }
            .button_mini {
                width: 100px;
            }
            &__content {
            transform: translateX(-103%);
                &_active {
                    transform: translateX(0%);
                    margin-right: 20px;
                }
            }
        }
    }
    .reviews {
        padding-bottom: 40px;
        &__wrapper {
            margin-top: 40px;
        }
        img {
            width: 70px;
            margin-right: 20px;
        }
    }
    .footer {
        height: 400px;
        &__map {
            iframe {
                height: 400px;
            }
        }
        &__info {
            padding: 20px 15px;
            height: 150px;
            width: 100%
        }
        &__addr {
            font-size: 18px;
        }
        &__phone {
            margin-top: 16px;
            font-size: 18px;
        }
        &__social {
            margin-top: 16px;
            &-item {
                height: 40px;
                width: 40px;
            }
            img {
                height: 24px;
                &:hover {
                    height: 24px;
                }
            }
        }
    }
    .modal {
        width: 300px;
        padding: 35px 15px;
        &__close {
            right: 10px;
            top: 10px;
            font-size: 35px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
        .feed-form {
            margin-top: 20px;
            width: 100%;
        }
    }
}